:root{
  /* Define core styling variables. */
  --app-text-color-primary: var(--tg-theme-text-color, black);
  --app-text-color-secondary: var(--tg-theme-hint-color, rgb(137, 140, 160));
  --app-text-color-pop: var(--tg-theme-button-color, rgb(223,142,61));
  --app-background-color-primary: var(--tg-theme-bg-color, white);
  --app-background-color-secondary: var(--tg-theme-secondary-bg-color, #f9f9f9);
  --app-padding-default: 20px;
  --app-padding-small: 5px;

  @media (prefers-color-scheme: dark) {
    --app-text-color-primary: var(--tg-theme-text-color, white);
    --app-text-color-secondary: var(--tg-theme-hint-color, rgb(137, 140, 160));
    --app-background-color-primary: var(--tg-theme-bg-color, black);
    --app-background-color-secondary: var(--tg-theme-secondary-bg-color, #121214);
  }
}

.nav{
  --bs-nav-link-color: var(--app-text-color-secondary);
}

.nav-tabs {
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--app-text-color-pop);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: var(--app-text-color-pop);
  border-color: var(--app-text-color-pop);
}

.tab-content>.active{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  color: var(--app-text-color-primary);
  background-color: var(--app-background-color-secondary);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

tbody, td, tfoot, th, thead, tr {
  border-color: var(--app-background-color-primary);
}

.table th{
  color: var(--app-text-color-pop);
}

.progress-bar {
  background-color: var(--app-text-color-pop);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.table.empty tbody{
  animation: pulse 1s infinite;
}

.table tr > td:first-of-type > div{
  width: 35vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table tbody tr:nth-child(even){
  filter: opacity(0.5);
}