:root{
  /* Define core styling variables. */
  --app-text-color-primary: var(--tg-theme-text-color, black);
  --app-text-color-secondary: var(--tg-theme-hint-color, rgb(137, 140, 160));
  --app-text-color-pop: var(--tg-theme-button-color, rgb(223,142,61));
  --app-background-color-primary: var(--tg-theme-bg-color, white);
  --app-background-color-secondary: var(--tg-theme-secondary-bg-color, #f9f9f9);
  --app-padding-default: 20px;
  --app-padding-small: 5px;

  @media (prefers-color-scheme: dark) {
    --app-text-color-primary: var(--tg-theme-text-color, white);
    --app-text-color-secondary: var(--tg-theme-hint-color, rgb(137, 140, 160));
    --app-background-color-primary: var(--tg-theme-bg-color, black);
    --app-background-color-secondary: var(--tg-theme-secondary-bg-color, #121214);
  }
}

.nav{
  --bs-nav-link-color: var(--app-text-color-secondary);
}

.nav-tabs {
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--app-text-color-pop);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--app-text-color-primary);
  background-color: var(--app-text-color-pop);
  border-color: var(--app-text-color-pop);
}

.tab-content>.active{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}