:root{
    --cl-color-primary: white;
    --cl-color-secondary: rgb(137,140,160);
    --cl-color-special: rgb(223,142,61);
    --cl-background-color-primary: rgb(10, 11, 45);
    --cl-background-color-secondary: rgb(24, 24, 59);
    --cl-block-padding: 15px;
    --cl-text-padding: 5px;
}

html,
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--cl-color-primary);
    margin: 0;
    padding: var(--cl-block-padding);
    background-color: var(--cl-background-color-primary);
}

.color-primary{
    color: var(--cl-color-primary);
}

.color-secondary{
    color: var(--cl-color-secondary);
}

.flex{
    display: flex;
}

.flex-all-center{
    align-items: center;
    justify-content: center;
}

.flex-1{
    flex: 1;
}

.pad-block-right{
    padding-right: var(--cl-block-padding)
}

.pad-block-bottom{
    padding-bottom: var(--cl-block-padding)
}

.pad-text-right{
    padding-right: var(--cl-text-padding)
}

.pad-text-left{
    padding-left: var(--cl-text-padding)
}

.faded-text{
    filter: brightness(0.75)
}

.stick-to-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    height: calc(var(--cl-block-padding)*2);
}

.l-text{
    font-size: 155%;
}

.xl-text{
    font-size: 225%;
}

.inline{
    display: inline;
}

body{
    padding-bottom: calc(var(--cl-block-padding)*5);
}